body {
  background-color: black;
  color: white;
}

.movie-container {
    text-align: center;
  }
  
  .movie-card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    display: inline-grid;
    margin: 1rem 2rem;
    position: relative;
  }
  
  .movie-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .like-bttn {
      border-radius: 12px;
      border: 2px solid #c40d0d;
      width: 75px;
      margin-left: 35%;
  }
  
  .like-bttn:hover {
    background-color: pink;
    border-radius: 12px;
    border: 2px solid #c40d0d;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    height: 40px;
    padding-left: 20px;
  }

  .logo img {
    height: 100%;
  }

  .user-icon {
    height: 40px;
    padding-right: 20px;
  }

  .user-icon img{
    height: 100%;
    border-radius: 5px;
  }